<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="text: getTitle()"></span>
        </label>
        <!-- ko if: (getPaymentLogoUrl() != "")-->
        <img data-bind="attr: {src: getPaymentLogoUrl()}" alt="image-icon" style="height: 30px; position: absolute; margin-top: -5px; margin-left: 15px;" />
        <!-- /ko -->
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <!-- ko template: 'Reddot_HtAkitaApi/payment/htakitaapi-creditcard-info' --><!-- /ko -->

        <div id="htakitaapi-place-group" style="display: none;">
            <div class="field" data-bind="attr: {id: getCode() + '_note'}" style="margin-top: 20px;">
                <label data-bind="attr: {for: getCode() + '_note'}" class="label" style="font-weight: bold;">
                    <span><!-- ko i18n: 'Note'--><!-- /ko --></span>
                </label>
                <textarea type="textarea" name="payment[note]" rows="5" placeholder="Input your note..." data-bind="value: note" />
            </div>

            <div class="actions-toolbar">
                <div class="primary">
                    <button class="action primary checkout"
                            type="submit"
                            data-bind="
                            click: placeOrder,
                            attr: {title: $t('Place Order')},
                            enable: (getCode() == isChecked())
                            css: {disabled: !isPlaceOrderActionAllowed()}
                            "
                            disabled>
                        <span data-bind="text: $t('Place Order')"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>