<div id="htakitaapi-card-information">
    <h3 class="label" style="font-weight: bold;">
        <span><!-- ko text: $t('Credit Card Information')--><!-- /ko --></span>
    </h3>
    <ul class="credit-card-types" style="margin-left: 10px;">
        <!-- ko foreach: {data: getCurrentCreditCards(), as: 'item'} -->
        <li class="item" style="width: 100%; margin-bottom: 10px;">
            <input type="radio"
                name="payment[currentCreditCard]"
                class="radio"
                onClick="htakitaapiSetCardID(this.value)"
                data-bind="value: item.data.id"/>
            <!-- ko if: (item.data.number != '')-->
                <label class="label">
                    <span data-bind="text: item.data.number" style="padding-top: 0"></span>
                </label>
                </br>
            <!--/ko-->
            <!-- ko if: (item.data.number == '')-->
                <label class="label">
                    <span data-bind="text: item.data.payerId" style="padding-top: 0"></span>
                </label>
                </br>
            <!--/ko-->
            <!-- ko if: (item.data.name != '')-->
                <label class="label" style="margin-left: 23px">
                    <span data-bind="text: item.data.name"></span>
                </label>
                </br>
            <!--/ko-->
            <label class="label" style="margin-left: 23px">
                <span data-bind="text: item.data.email"></span>
            </label>
        </li>
        <!--/ko-->
    </ul>

    <input type="hidden" name="payment[creditCardId]" class="input-text" value=""
           data-bind="value: creditCardId, attr: { id: 'htakitaapi-credit-card-id'}"
        />
    <input type="hidden" name="payment[actionType]" class="input-text" value=""
           data-bind="value: '', attr: { id: 'htakitaapi-action-type'}"
        />
    <div class="primary">
        <button
            class="action primary"
            type="submit"
            data-bind="
            click: addNewCreditCard,
            attr: {title: $t('Add Card')}">
            <span data-bind="text: $t('Add Card')"></span>
        </button>
        <!-- ko if: (showEditButton())-->
        <button class="action primary"
                type="submit"
                data-bind="
                click: editCreditCard,
                attr: {title: $t('Edit Card')}">
            <span data-bind="text: $t('Edit Card')"></span>
        </button>

        <button class="action primary"
                type="submit"
                data-bind="
                click: deleteCreditCard,
                attr: {title: $t('Remove Card')}">
            <span data-bind="text: $t('Remove Card')"></span>
        </button>
        <!-- /ko -->
    </div>
</div>