<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitle()"></span>
        </label>
        <!-- ko if: (getPaymentLogoUrl() != "")-->
        <img data-bind="attr: {src: getPaymentLogoUrl()}" alt="image-icon" style="height: 30px; position: absolute; margin-top: -5px; margin-left: 15px;" />
        <!-- /ko -->
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <fieldset data-bind="attr: {class: 'fieldset payment items ' + getCode(), id: 'payment_form_' + getCode()}">
            <div class="field" data-bind="attr: {id: getCode() + '_note'}">
                <label data-bind="attr: {for: getCode() + '_note'}" class="label">
                    <span><!-- ko i18n: 'Note'--><!-- /ko --></span>
                </label>
                <textarea type="textarea" name="payment[note]" rows="5" placeholder="Input your note..." data-bind="value: note" />
            </div>
        </fieldset>

        <div class="actions-toolbar">
            <div class="primary">
                <button
                    style="margin-top: 10px"
                    class="action primary checkout"
                    type="submit"
                    data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')}
                    ">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
